<template>
    <div class="container-fluid" id="app">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <form @submit.prevent="feelingLucky">
                            <input type="submit" value="Im feeling lucky">
                        </form>

                        <p v-if="rand_number">
                        <table>
                            <thead>
                            <tr>
                                <td>Rand number</td>
                                <td>Victory result</td>
                                <td>Amount</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ rand_number }}</td>
                                <td>{{ victory_result }}</td>
                                <td>{{ amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                rand_number: null,
                victory_result: null,
                amount: null,
            }
        },
        methods: {
            feelingLucky() {
                axios
                    .get('/feeling-lucky')
                    .then(response => {
                        this.rand_number = response.data.rand_number;
                        this.victory_result = response.data.victory_result;
                        this.amount = response.data.amount;
                    })
            }
        }
    }
</script>
