<template>
    <div class="container-fluid" id="app">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <form @submit.prevent="historyStart">
                            <input type="submit" value="History">
                        </form>

                        <p v-if="data">
                            History:
                        <table>
                            <thead>
                            <tr>
                                <td>Rand number</td>
                                <td>Victory result</td>
                                <td>Amount</td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="value in data">
                                <td>{{ value.rand_number }}</td>
                                <td>{{ value.victory_result }}</td>
                                <td>{{ value.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                data: [],
            }
        },
        methods: {
            historyStart() {
                axios
                    .get('/feeling-lucky/history')
                    .then(response => {
                        this.data = response.data;
                    })
            }
        }
    }
</script>
